<link rel="stylesheet" href="@(Url.Content("~/css/customanotherview.css"))">
<div class="partialViewContainer">
    <h1>this is another example of partial view</h1>
    @Html.ActionLink("Go To Login Form", "Login", "Forms")
</div>